@charset "UTF-8";

/*todas as midia querias*/

/*typical device breakpoints
-----------------------------

pequenas telas:até 600px
celular: de 600px até 768px
tablet: 768px até 992px
desktop: 992px até 1200px
grandes telas : acima de 1200px*/

@media prin{ /*impressão*/

}

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/
    body{
        background-image: url(../tablet\ .jpg);

img#phone{ display: none;}
img#tablet{ display: block;}
img#print { display:  none;}
img#pc{ display: none;}
img#tv{ display: none;}

    }
}


@media screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    body{
        background-image: url(../print\ .jpg);

        img#phone{ display: none;}
img#tablet{ display: none;}
img#print { display:  block;}
img#pc{ display: none;}
img#tv{ display: none;}

    }

}

@media screen  and  (min-width:  1200px) { /*grande telas */
    body{
        background-image: url(../computado\ .jpg);

       img#phone{ display: none;}
img#tablet{ display: none;}
img#print { display: none;}
img#pc{ display: block;}
img#tv{ display: none;} 
    }
    
}


